
h1{
    color: #38B2AC;
    font-size: 24px;
    text-align: center;
}

h2{
    color: #5A67D8;
    font-size: 21px;
}

p{
    font-size: 18px;
}

img {
    margin-left: auto;
    margin-right: auto;

}